@tailwind base;
@tailwind components;
@tailwind utilities;

    :root {
        --tg-theme-accent-text-color: #6ab2f2;
        --tg-color-scheme: dark;
        --tg-theme-bg-color: #17212b;
        --tg-theme-bottom-bar-bg-color: #17212b;
        --tg-theme-button-color: #5288c1;
        --tg-theme-button-text-color: #ffffff;
        --tg-theme-destructive-text-color: #ec3942;
        --tg-theme-header-bg-color: #17212b;
        --tg-theme-hint-color: #708499;
        --tg-theme-link-color: #6ab3f3;
        --tg-theme-secondary-bg-color: #232e3c;
        --tg-theme-section-bg-color: #17212b;
        --tg-theme-section-header-text-color: #6ab3f3;
        --tg-theme-section-separator-color: #111921;
        --tg-theme-subtitle-text-color: #708499;
        --tg-theme-text-color: #f5f5f5;
    }

@media (prefers-color-scheme: light) {
    :root {
        --tg-theme-accent-text-color: #168acd;
        --tg-color-scheme: light;
        --tg-theme-bg-color: #ffffff;
        --tg-theme-bottom-bar-bg-color: #ffffff;
        --tg-theme-button-color: #40a7e3;
        --tg-theme-button-text-color: #ffffff;
        --tg-theme-destructive-text-color: #d14e4e;
        --tg-theme-header-bg-color: #ffffff;
        --tg-theme-hint-color: #999999;
        --tg-theme-link-color: #168acd;
        --tg-theme-secondary-bg-color: #f1f1f1;
        --tg-theme-section-bg-color: #ffffff;
        --tg-theme-section-header-text-color: #168acd;
        --tg-theme-section-separator-color: #e7e7e7;
        --tg-theme-subtitle-text-color: #999999;
        --tg-theme-text-color: #000000;
    }
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.button:disabled {
    opacity: 0.5;
}

.button:disabled:hover {
    opacity: 0.5;
}

.button:hover {
    opacity: 0.9;
}

.accent-text-color {
    color: var(--tg-theme-accent-text-color);
}

.text-color {
    color: var(--tg-theme-text-color);
}

.link-color {
    color: var(--tg-theme-link-color);
}

.section-header-text-color {
    color: var(--tg-theme-section-header-text-color);
}

.subtitle-text-color {
    color: var(--tg-theme-subtitle-text-color);
}

.hint-color {
    color: var(--tg-theme-hint-color);
}

.destructive-text-color {
    color: var(--tg-theme-destructive-text-color);
}

/* Классы для фона */
.bg-theme {
    background-color: var(--tg-theme-bg-color);
}

.bg-bottom-bar {
    background-color: var(--tg-theme-bottom-bar-bg-color);
}

.bg-button {
    background-color: var(--tg-theme-button-color);
}

.bg-header {
    background-color: var(--tg-theme-header-bg-color);
}

.bg-secondary {
    background-color: var(--tg-theme-secondary-bg-color);
}

.bg-section {
    background-color: var(--tg-theme-section-bg-color);
}

.loading-fill {
    fill: var(--tg-theme-button-color);
}

/* Классы для текста внутри кнопок */
.button-text-color {
    color: var(--tg-theme-button-text-color);
}

.border-color {
    border-color: var(--tg-theme-section-separator-color);
}

/* Класс для сепараторов секций */
.section-separator-color {
    border-color: var(--tg-theme-section-separator-color);
}